@using BGGToolsMvC.Models
@model IEnumerable<Thing>
@{
    ViewData["Title"] = "Collection";
}

<form asp-controller="Home" asp-action="CollectionView" method="get" class="form-inline">
    <div class="form-group">
        <label class="sr-only" for="userName">User Name</label>
        <input class="form-control" id="userName" name="userName" placeholder="Username"/>
    </div>
    <button type="submit" class="btn btn-primary">View</button>
</form>

<hr />

@if (Model != null)
{
    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
    }
    @if (ViewBag.ErrorMessage == null)
    {
        ViewData["Title"] = ViewBag.UserName;

        <header class="jumbotron">
            <h1>@ViewBag.UserName</h1>
        </header>
        <table class="table table-hover table-responsive">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Published</th>
            </tr>

            @foreach (Thing thing in Model)
            {
                <tr>
                    <td><a asp-area="" asp-controller="Home" asp-action="Thing" asp-route-id="@thing.ThingId">@thing.ThingId</a></td>
                    <td>@thing.Name</td>
                    <td>@thing.YearPublished</td>
                </tr>
            }
        </table>
    }
}

