@using BGGToolsMvC.Models
@model IEnumerable<Thing>
@{
    ViewData["Title"] = "Hot List";
}

<header class="jumbotron">
    <h1>@ViewData["Title"]</h1>
</header>
<table class="table table-hover table-responsive">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Published</th>
    </tr>
    @foreach (Thing thing in Model)
    {
        <tr>
            <td><a asp-area="" asp-controller="Home" asp-action="Thing" asp-route-id="@thing.ThingId">@thing.ThingId</a></td>
            <td>@thing.Name</td>
            <td>@thing.YearPublished</td>
        </tr>
    }
</table>