@using BGGToolsMvC.Models
@model Thing
@{
    ViewData["Title"] = Model.Name;
}

<header class="jumbotron">
    <h1>@Model.Name</h1> (@Model.YearPublished)
</header>

<hr />

<div class="row">
    <div class="col-md-4 border">
        @Model.MinPlayers - @Model.MaxPlayers Players
    </div>
    <div class="col-md-4 border">
        @Model.MinPlayTime - @Model.MaxPlayTime Min
    </div>
    <div class="col-md-4 border">
        Age: @Model.MinAge +
    </div>
</div>
<div class="row">
    <div class="col-md-4 border">
        <img src="@Model.Image" class="img-fluid" />
    </div>
    <div class="col-md-8 border">
        @Model.Description
    </div>
</div>